.container{
    background-color: #e5e5fd;
    min-height: 100vh;
    border:10px solid #1D1E4c;
}
img{
    border-radius:500px;
    margin-left:200px ;
    margin-top: 100px;
    width: 350px;
    height: 320px;   
}
footer{
    text-align: end;
}
h1{
    margin-left: 900px;
    position: relative;
    bottom: top;
    font-size: 50px;
    bottom: 200px;
}
.ds{
    margin-left: 410px;
    font-size: 20px;
    
}
h2{
    margin-left: 100px;
    font-size: 80px;
}
h3{
    margin-left:200px ;
    font-size: 40px;
}
.story{
    margin-left: 200px;
}
.fool{
    margin-left: 170px;
}
.fool{
    margin-left: 200px;
}
.fan{
    margin-left: 150px;
}
.raf{
    margin-left: 150px;
}
p{
    font-size:30px ;
}
.raf{
    margin-left: 150px;
    font-size: 30px;

}
footer p{
    text-align: end;
}
